<nav class="browser">

    <!-- Logo -->
    <section class="logo">
        <img class="logo_img" src="assets/img/test.svg" alt="" />
        <h1 class="logo_title">The Great Melon</h1>
    </section>

    <!-- Menu -->
    <section class="menu">
        <ul class="menu_pages">
            <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Homepage</li>
            <li routerLink="/discotecas" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Disco</li>
            <li>Events</li>
            <li>Contact</li>
        </ul>

        <ul *ngIf="!this.currentUser.username" class="menu_login">
            <li routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Login</li>
            <span>or</span>
            <li routerLink="/signin" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Signin</li>
        </ul>

        <ul (click)="this.changeShow()" *ngIf="this.currentUser.username" class="menu_loged">
            <img class="logo_img" src="https://thispersondoesnotexist.com/image" alt="">
            <p>{{currentUser.username}}</p>
            <i class="fas fa-angle-down"></i>
            <div *ngIf="this.show" class="dropable">
                <ul>
                    <li routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <i class="fas fa-user"></i>
                        <p>Profile</p>
                    </li>
                    <li>
                        <i class="fas fa-shopping-cart"></i>
                        <p>Compras</p>
                    </li>
                    <li>
                        <i class="fas fa-file-alt"></i>
                        <p>Ventas</p>
                    </li>
                    <li routerLink="/discoteca/create" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <i class="fas fa-glass-cheers"></i>
                        <p>Crear Discoteca</p>
                    </li>
                    <li>
                        <i class="fas fa-calendar-week"></i>
                        <p>Crear Evento</p>
                    </li>
                    <li *ngIf="this.currentUser.type == 'admin'">
                        <i class="fas fa-building"></i>
                        <p>Crear Compañia</p>
                    </li>
                    <li *ngIf="this.currentUser.type == 'admin'">
                        <i class="fas fa-chart-area"></i>
                        <p>Estadisticas</p>
                    </li>
                    <li (click)="this.logOut()">
                        <i class="fas fa-sign-out-alt"></i>
                        <p>Cerrar sessión</p>
                    </li>
                </ul>
            </div>
        </ul>
    </section>
</nav>