<nav class="browser">

    <!-- Logo -->
    <section class="logo">
        <img class="logo_img" src="assets/img/test.svg" alt="" />
        <h1 class="logo_title">The Great Melon</h1>
    </section>

    <!-- Menu -->
    <section class="menu">
        <ul class="menu_pages">
            <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Homepage</li>
            <li routerLink="/discotecas" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Disco</li>
            <li>Events</li>
            <li>Contact</li>
        </ul>
        <!-- <ul class="menu_login">
            <li routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Login</li>
            <span>or</span>
            <li routerLink="/signin" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">signin</li>
        </ul> -->

        <ul class="menu_loged">
            <img class="logo_img" src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a1/NafSadh_Profile.jpg/480px-NafSadh_Profile.jpg" alt="">
            <p>@tonomolla6</p>
            <i class="fas fa-angle-down"></i>
        </ul>
    </section>
</nav>