<nav class="browser">

    <!-- Logo -->
    <section class="logo">
        <img class="logo_img" src="assets/img/test.svg" alt="" />
        <h1 class="logo_title">The Great Melon</h1>
    </section>

    <!-- Menu -->
    <section class="menu">
        <ul class="menu_pages">
            <li [routerLink]="['/']">Homepage</li>
            <li [routerLink]="['/discoteca']">Disco</li>
            <li>Events</li>
            <li>Contact</li>
        </ul>
        <ul class="menu_login">
            <li [routerLink]="['/login']">Login</li>
            <span>or</span>
            <li [routerLink]="['/singin']">Singin</li>
        </ul>
    </section>
</nav>