<div class="discoteca-page">

  <div class="banner">
    <div class="container">
      <h1>{{ discoteca.title }}</h1>

      <app-discoteca-meta [discoteca]="discoteca">

          <span [hidden]="!canModify">
          <a class="btn btn-sm btn-outline-secondary"
             [routerLink]="['/editor', discoteca.slug]">
            <i class="ion-edit"></i> Edit Discoteca
          </a>

          <button class="btn btn-sm btn-outline-danger"
            [ngClass]="{disabled: isDeleting}"
            (click)="deleteDiscoteca()">
            <i class="ion-trash-a"></i> Delete Discoteca
          </button>
        </span>

        <span [hidden]="canModify">
          <app-follow-button
            [profile]="discoteca.author"
            (toggle)="onToggleFollowing($event)">
          </app-follow-button>

          <!-- <app-favorite-button
            [discoteca]="discoteca"
            (toggle)="onToggleFavorite($event)">
            {{ discoteca.favorited ? 'Unfavorite' : 'Favorite' }} Discoteca <span class="counter">({{ discoteca.favoritesCount }})</span>
          </app-favorite-button> -->
        </span>

      </app-discoteca-meta>
    </div>
  </div>

  <div class="container page">

    <div class="row discoteca-content">
      <div class="col-md-12">

        <div [innerHTML]="discoteca.body | markdown"></div>

        <ul class="tag-list">
          <li *ngFor="let tag of discoteca.tagList"
            class="tag-default tag-pill tag-outline">
            {{ tag }}
          </li>
        </ul>

      </div>
    </div>

    <hr />

    <div class="discoteca-actions">
      <app-discoteca-meta [discoteca]="discoteca">

          <span [hidden]="!canModify">
          <a class="btn btn-sm btn-outline-secondary"
             [routerLink]="['/editor', discoteca.slug]">
            <i class="ion-edit"></i> Edit Discoteca
          </a>

          <button class="btn btn-sm btn-outline-danger"
            [ngClass]="{disabled: isDeleting}"
            (click)="deleteDiscoteca()">
            <i class="ion-trash-a"></i> Delete Discoteca
          </button>
        </span>

        <span [hidden]="canModify">
          <app-follow-button
            [profile]="discoteca.author"
            (toggle)="onToggleFollowing($event)">
          </app-follow-button>

          <!-- <app-favorite-button
            [discoteca]="discoteca"
            (toggle)="onToggleFavorite($event)">
            {{ discoteca.favorited ? 'Unfavorite' : 'Favorite' }} Discoteca <span class="counter">({{ discoteca.favoritesCount }})</span>
          </app-favorite-button> -->
        </span>

      </app-discoteca-meta>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">

        <div *appShowAuthed="true">
          <app-list-errors [errors]="commentFormErrors"></app-list-errors>
          <form class="card comment-form" (ngSubmit)="addComment()">
            <fieldset [disabled]="isSubmitting">
              <div class="card-block">
                <textarea class="form-control"
                  placeholder="Write a comment..."
                  rows="3"
                  [formControl]="commentControl"
                ></textarea>
              </div>
              <div class="card-footer">
                <img [src]="currentUser.image" class="comment-author-img" />
                <button class="btn btn-sm btn-primary" type="submit">
                 Post Comment
                </button>
              </div>
            </fieldset>
          </form>
        </div>

        <div *appShowAuthed="false">
          <a [routerLink]="['/login']">Sign in</a> or <a [routerLink]="['/register']">sign up</a> to add comments on this discoteca.
        </div>

        <app-discoteca-comment
          *ngFor="let comment of comments"
          [comment]="comment"
          (deleteComment)="onDeleteComment(comment)">
        </app-discoteca-comment>

      </div>
    </div>

  </div>
</div>
