<section class="footer">
    <span class="footer_author">
        <p>PROJECT CREATED BY</p>
        <a href="http://instagram.com/tonomolla6" class="footer_account">@tonomolla6</a>
        <a href="https://www.instagram.com/xema.maestre/" class="footer_account">@xema.maestre</a>
    </span>
    <p class="footer_title">The Great Melon</p>
 
    <div class="social">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-github"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-google-play"></i>
    </div>
    
</section>  

