<div class="auth-page">
    <section class="signin">
        <article class="form">
            <h1>{{authType == 'signin' ? 'signin TO LIVE OUR EXPERIENCES!' : 'LOGIN AND START THE PARTY!'}}</h1>
            <form [formGroup]="authForm" (ngSubmit)="submitForm()">
                <label [hidden]="authType == 'login'" for="username">USERNAME</label>
                <input [hidden]="authType == 'login'" formControlName="username" type="text"/>

                <label for="email">EMAIL</label>
                <input type="email" formControlName="email"/>

                <label for="passwd">PASSWORD</label>
                <input type="password" formControlName="password"/>

                <button type="submit" class="button">{{authType == 'login' ? 'Login' : 'Signup'}}</button>
            </form>
        </article>
        <article class="figure"></article>
        <article class="slider"></article>
    </section>
</div>