.auth-page {
    height: calc(100vh - 210px);
}

.auth-page .singin {
    height: 100%;
    display: flex;
    position: relative;
}

.auth-page .singin .form {
    background-color: var(--color-primary);
    position: relative;
    width: 45vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.auth-page .singin .figure {
    width: 0;
    height: 0;
    border-top: calc(100vh - 210px) solid var(--color-primary);
    border-right: 10vw solid transparent;
    left: 45vw;
    position: absolute;
}

.auth-page h1 {
    font-family: var(--font-primary);
    font-size: 80px;
    margin: 15px 0px 10px 0px;
    width: 600px;
}

.auth-page .singin .slider {
    background-image: url('/assets/img/login.png');
    /* background-image: url('/frontend/angular/src/'); */
    width: 55vw;
    background-position: center;
    /* position: absolute; */
}

.auth-page .singin form {
    display: flex;
    font-family: var(--font-primary);
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    margin: 15px 0px 40px 0px;
}

.auth-page .singin form label {
    font-size: 30px;
}

.auth-page .singin form input {
    font-size: 20px;
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

.auth-page .singin form .button {
    font-size: 35px;
    margin-top: 35px;
    width: 140px;
    padding: 12px;
    cursor: pointer;
    text-align: center;
    background-color: #1f1f1f;
    color: var(--color-primary);
    font-family: var(--font-primary);
    border: none;
}

.auth-page .singin form .button:hover {
    color: white;
}


/* .auth-page .singin .form {
    background-color: var(--color-primary);
    width: 50vw;
} */