<div class="profile_create">
    <div class="header">
        <img class="icono" src="https://thispersondoesnotexist.com/image" alt="">
    </div>
    <div class="page">
        <div class="modal">
            <h1>Your Profile</h1>
            <hr class="profile_create_modal_bar">
            <!-- <p>ole los canelones {{profile.Name}}</p> -->
            <form [formGroup]="profileForm">
                <label for="name">Name</label>
                <input type="text" formControlName="name" placeholder={{profile.Name}} value={{profile.Name}}/><!--placeholder={{profile.Name}}-->
 
                <label for="surname">Surname</label>
                <input type="text" formControlName="surname" placeholder={{profile.Surname}} value={{profile.Surname}}/> <!--value={{profileForm.Surname}}-->

                <label for="description">Description</label>
                <textarea rows="5" cols="10" formControlName="description" placeholder={{profile.Description}} value={{profile.Description}}></textarea> <!--value={{profileForm.Description}}-->

                <label for="bio">Bio</label>
                <textarea rows="5" cols="10" formControlName="bio" placeholder={{profile.Bio}} value={{profile.Bio}}></textarea> <!--value={{profileForm.Bio}}-->

                <button (click)="submitProfile()" class="button">Update</button>
            </form>
        </div>

        <div class="component">
            <h1>Tus discotecas</h1>  
            <div *ngFor="let discoteca of discotecas">
                <p>{{discoteca.name}}</p>
            </div>
        </div>
    </div>
</div>