<div class="profile_create">
    <div class="header">
        <img class="icono" src="https://thispersondoesnotexist.com/image" alt="">
    </div>
    <div class="page">
        <div class="modal">
            <h1>Your Profile</h1>
            <hr class="profile_create_modal_bar">
            <!-- <p>ole los canelones {{profile.Name}}</p> -->
            <form [formGroup]="profileForm">
                <label for="name">Name</label>
                <input type="text" formControlName="name" placeholder={{profile.Name}}/><!--placeholder={{profile.Name}}-->
 
                <label for="surname">Surname</label>
                <input type="text" formControlName="surname" placeholder={{profile.Surname}} /> <!--value={{profileForm.Surname}}-->

                <label for="description">Description</label>
                <textarea rows="5" cols="10" formControlName="description" placeholder={{profile.Description}} ></textarea> <!--value={{profileForm.Description}}-->

                <label for="bio">Bio</label>
                <textarea rows="5" cols="10" formControlName="bio" placeholder={{profile.Bio}}></textarea> <!--value={{profileForm.Bio}}-->

                <button (click)="submitProfile()" class="button">Update</button>
            </form>
        </div>

        <div class="component">
            <h2>Tus discotecas</h2>  
            <hr>
            <div class="elements">
                <div *ngFor="let discoteca of discotecas" class="element">
                    <img src="https://picsum.photos/id/{{discoteca.id}}/200" alt="">
                    <p>{{discoteca.name}}</p>
                </div>
            </div>
        </div>

        <div *ngIf="currentUser.type == 'admin'" class="component">
            <h2>Tus compañias</h2>  
            <hr>
            <div class="elements">
                <div *ngFor="let company of companies" class="element">
                    <img src="https://picsum.photos/id/2/200" alt="">
                    <p>{{company.name}}</p>
                </div>
                <div routerLink="/company/create" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="element plus">
                    <div class="add">
                        <i class="fas fa-plus"></i>
                    </div>
                    <p>Add company</p>
                </div>
            </div>
        </div>
    </div>
</div>