<div class="discoteca_create">
    <div class="discoteca_create_modal">
        <h1>Contact Us</h1>
        <hr class="discoteca_create_modal_bar">
        <form>
            <label for="name">Name</label>
            <input type="text"/>

            <label for="email">Email</label>
            <input type="email"/>

            <label for="message">Message</label>
            <textarea rows="7" cols="10"></textarea>

            <button class="button">Send</button>
        </form>
    </div>
</div>