body {
    position: relative !important;
}

#favorite:hover{
    cursor: pointer;
    -webkit-box-shadow: -2px 4px 15px 0px rgba(255,112,112,1);
    -moz-box-shadow: -2px 4px 15px 0px rgba(255,112,112,1);
    box-shadow: -2px 4px 15px 0px rgba(255,112,112,1);
}

#favorite{
    /* width: 390px; */
    /* height: 30px; */
}

.liked {
    color: red;
}

.discoteca-details .page {
    display: flex;
    width: 100%;
}

.discoteca-details .details {
    padding: 30px 15px;
    width: 80%;
}

.discoteca-details .aside {
    padding: 30px 15px;
    width: 20%;
}

.discoteca-image {
    width: 100%;
    height: 400px;
    background-image: url(https://i.pinimg.com/originals/6d/eb/90/6deb9032cf4ab71e51adb95cd213ac73.jpg);
    background-size: cover;
}

.discoteca-titulo {
    width: 100%;
    font-size: 70px;
    font-family: var(--font-primary);
}

.discoteca-bar {
    background-color: var(--color-primary);
    border: none;
    height: 8px;
    width: 30%;
}

.page .aside p {
    font-size: 20px;
    margin-top: 10px;
}

.page .details p {
    font-size: 20px;
    margin-top: 30px;
}

.page button {
    background-color: white;
    padding: 5px 10px;
    margin-top: 11px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
}

.page button p {
    margin: 0px 0px 0px 7px !important;
}

.page button:hover,
.page button.favorited {
    font-weight: bold;
    background-color: var(--color-primary);    
}

.page ul {
    margin-left: 20px;
}

.fa-heart {
    color: red;
}

.popularidad {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.popularidad i {
    font-size: 22px;
}

.delete:hover{
    cursor: pointer;
    color: red;
}

.discotecas {
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-primary);
    font-size: 30px;
}

.discoteca_container {
    background-color: white;
    width: 80%;
    margin-bottom: 50px;
}

.title_discotecas h1 {
    margin: 20px 30px 0px 46px;
}

.title_discotecas hr {
    height: 6px;
    width: 20%;
    border: none;
    margin: 10px 10px 40px 40px;
    background-color: var(--color-primary);
}

.event{
    margin: 10px;
    font-family: var(--font-primary);
}