
<div class="discoteca-details">
    <div class="discoteca-image"></div>
    <div class="page">
      <div class="aside">
        <h2>Popularidad</h2>        
        <hr style="height: 4px;" class="discoteca-bar">


        <div class="popularidad">
          <button class="favoritos" (click)="onFavorite()"> 
            <i [className]="discoteca.Liked ? 'fas fa-heart' : 'far fa-heart'" id="favorite"></i> 
            <p>{{ discoteca.Likes }} </p>
          </button>
          <p><i class="far fa-eye"></i> {{ discoteca.views }}</p>
          <div *ngIf="this.author" class="author_section" >
            <p><i (click)="deleteDisco()" class="fas fa-trash delete"></i></p>
          </div>
        </div>
        
        <br>
        <br>
            <h2>Eventos</h2>
            <hr style="height: 4px;" class="discoteca-bar">
            <div *ngFor="let event of events">
                <p>{{event.name}}</p>
            </div>

            <h2>Compañia</h2>
            <hr style="height: 4px;" class="discoteca-bar">

            <p>{{ discoteca.company }}</p>

        <h2>Ultimas noticias</h2>
        <hr style="height: 4px;" class="discoteca-bar">
        <p>Sed vitae velit odio. Ut mauris tortor, sagittis quis rutrum accumsan, pulvinar eget dolor. </p>
        <br>
        
      </div>
      <div class="details">
        <h1 class="discoteca-titulo">{{ discoteca.name }}</h1>
        <hr class="discoteca-bar">
        <p>{{discoteca.description}}</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id mauris est. Duis eget neque aliquam, rhoncus odio nec, scelerisque ligula. Quisque laoreet ex vitae nunc maximus consectetur a nec urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent euismod, enim vestibulum venenatis placerat, est tortor maximus ipsum, non suscipit magna est a risus. Morbi scelerisque enim a tellus rhoncus mollis. Mauris in ullamcorper nulla. Nulla sit amet interdum risus. Nulla ut tempor arcu, vitae fermentum nulla. Nullam a magna vitae ligula suscipit hendrerit.

          Ut nec urna urna. Nullam ipsum mi, ultrices a quam eget, varius pharetra arcu. Sed condimentum sagittis lacus, vitae rutrum elit malesuada ut. Sed varius elementum est nec sodales. Pellentesque ut nibh quam. Nullam enim sem, sodales pharetra aliquam at, finibus id leo. Nam egestas justo ac libero viverra dictum. Quisque pretium nunc et urna rutrum fermentum. Praesent tincidunt tellus eleifend, malesuada tellus ac, fermentum dui.
          
          Nunc mauris ipsum, ullamcorper ut dui sit amet, rutrum egestas lectus. Morbi maximus at nisi at gravida. Vivamus ac hendrerit velit. Curabitur ultricies ut magna ac bibendum. Proin consequat nunc a tempor faucibus. Nam efficitur lacus vel leo mattis sodales. Etiam bibendum turpis sit amet semper vestibulum. Curabitur posuere arcu dolor, nec euismod est pellentesque ut. Pellentesque maximus eu metus vitae laoreet. Aliquam quis fringilla nisl. Aliquam sem felis, dictum id diam in, auctor elementum metus. Quisque nisi augue, ullamcorper eu tincidunt ut, finibus at arcu.
          
          Sed vitae velit odio. Ut mauris tortor, sagittis quis rutrum accumsan, pulvinar eget dolor. Donec commodo porta dignissim. Vivamus et ornare elit. In vel mollis risus. Nullam bibendum ut augue a dapibus. In hac habitasse platea dictumst.</p>
      </div>
    </div>
</div>

